<!doctype html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
<nav class="nav nav-fill">
  <a class="nav-link active" href="/">Main</a>
  <a class="nav-link" href="/stats">Live Sensors</a>
  <a class="nav-link" href="/files">Files</a>
</nav>
</div>
<div class="container-fluid">{% block content %}{% endblock %}
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
